/* .flashing {
    background-color: #000000;
    color: #FFFFFF;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}

:not(.flashing) {
    transition-property: background-color, color;
    transition-duration: 0.3s;
} */

.template {
    word-break: break-all;
}
svg {
    height: calc(100vh - 10rem);
    width: 80vw;
}


.visuals-container {
    display: flex;
    flex-direction: column-reverse;
}

.paper-description {
    text-align: center;
}

.visuals-container .paper-description {
    margin-top: 0.25rem;
    font-style: italic;
}

.paper-background {
    stroke-width: 0;
    fill: #FFFFFF;
}

.origami-dot {
    fill: #AA0000;
    stroke: #AA0000;
    stroke-width: 1;
}

.origami-dot-inner {
    display: none;
}

.fold-line {
    stroke: #AAAAAA;
    stroke-width: 1;
    stroke-dasharray: 2 1;
}

.border-line {
    stroke: #999999;
    stroke-width: 1;
    fill: transparent;
}
.moving-points-group {
    transform-box: fill-box;
}

.moving-points-animate {
    transition-property: transform;
    transition-duration: 500ms;
    
}

.moving-points-animate.axis-y {
    transform: scaleY(-1);
}

.moving-points-animate.axis-x {
    transform: scaleX(-1);
}

.future-move-dot {
    fill: transparent;
    stroke: #000099;
    stroke-width: 1;
}

.future-move-dot-inner {
    fill: transparent;
    stroke: #FFFFFF;
    stroke-width: 3;
}